.dashboard-page-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: #f2f2f2;
    min-height: 50vh;
    box-sizing: border-box;
}

.dashboard-car-table {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    margin-top: -65px;
    z-index: 1;
}

.dashboard-factory-table {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

.dashboard-car-table::before,
.dashboard-factory-table::before {
    content: attr(data-title);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
